@model PracticalEleven.Models.Employee

@{
    ViewBag.Title = "Create";
}

<h2>Add Employee</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr class="w-25" />
        @{ 
            Html.RenderPartial("_CreatePartialView");
        }
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", string.Empty, htmlAttributes: new { @class = "btn btn-sm btn-secondary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
