@model PracticalEleven.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Employee</h2>

<div>
    <hr class="w-25"/>
    @{ 
        Html.RenderPartial("_DeletePartialView");
    }
</div>
