@model PracticalEleven.Models.Employee

@{
    ViewBag.Title = "Details";
}


    

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-sm btn-warning" }) |
    @Html.ActionLink("Back to List", "Index", string.Empty, htmlAttributes: new { @class = "btn btn-sm btn-success" })
</p>
